<!DOCTYPE html>
  <html>
    <head>
      <title>An Art Experience</title>
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>

          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <header>
      <div class="page-title">
        <h1>Paintings at the Met</h1>
      </div>
      <nav>
        <a href="#refresh" class="nav-link" id="refresh">Refresh</a>
      </nav>
    </header>
        <body>
          Testing
        </body>

    <footer>
      Made by Elle Wilson
    </footer>

</html>
